.dashboaard-footer{
    text-decoration: none !important;
    list-style: none !important;
    color: #888 !important;
    display: flex;
    justify-content: space-between;
}
.dashboaard-footer ul{
    list-style: none !important;
    display: flex;
}
.dashboaard-footer a{
    color: #888 !important;
    margin-left: 30px;
}
@media only screen and (max-width:979px) {
    .dashboaard-footer ul{
        flex-direction: column;
        text-align: left;
    }
    .dashboaard-footer{
       flex-direction: column-reverse;
       /* text-align: left; */
    }
}