.dashboard-appbar{
    background-color:#002A5B;
    padding-top: 28px;
    padding-bottom: 18px;
}
.appbar-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-name{
    display: flex;
    justify-content: flex-end;
    color: #eee;
}
.user-name span{
    font-weight: 700;
    color: #fff;
}
.user-name .profileIcon{
    color: #fff;
    height: 45px;
    width: 45px;
    background-color:#064d9f ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: -10px;
}
.profileIcon i{
    margin-bottom: 15px;
    cursor: pointer;
}
.dash-logo{
    width: 60%;
}
.dashboard-nav{
position: relative;
}
.navbar-toggler-icon{
    color: #002A5B !important;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* background-color: #002A5B !important; */
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
.list-group-item.active{
    position: relative ;
    background-color:transparent;
    color:#0d61f0;
    /* padding: 0; */
    border:none;
    transition: 1s;
}
.list-group-item{
    position: relative ;
    background-color:transparent;
    color: #888;
    padding: 0 20px;
    border:none;
    margin-bottom: -5px;
    font-size: 18px;
    font-weight: 400;
    transition: 1s;
}
.dashboard-btn{
    position: relative;
    color: #888;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
    margin-right: 20px;
}
.dashboard-btn:focus::after{
    position: absolute ;
    content: '';
    height: 4px;
    width: 100px;
    background-color: #0d61f0;
    left: 0;
    width: 100%;
    /* left: 0; */
    bottom: -14px;
}
.list-group-item.active::after{
    position: absolute ;
    content: '';
    height: 4px;
    width: 68%;
    background-color: #0d61f0;
    left: 16%;
    bottom: -17.5px;
    transition: 1s;
}
.kycbtn{
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 700;
    background-color: #ddd;
}
@media only screen and (max-width:979px){
    .list-group-item.active::after{
        position: absolute ;
        content: '';
        height: 2.5px;
        width: 88px;
        background-color: #0d61f0;
        left: 20px;
        bottom: 18px;
        transition: 1s;
        margin-bottom: -20px;
    }
    .list-group-item{
        margin-bottom: 5px;
        text-align: left;
    }
    .dashboard-btn{
        display: flex;
        text-align: left;
        padding-left: 20px;
    }
    .dashboard-btn:focus::after{
        position: absolute ;
        content: '';
        height: 2.5px;
        background-color: #0d61f0;
        left: 0;
        width: 100px;
        left: 20px;
        /* left: 0; */
        bottom: 0px;
    }
}